/* ==============================
   Home Page 
   ============================== */


.Dr-pepper-home-section, .Dr-pepper-what-section{
    margin-top: 60px;
}

.home-container-head-section{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 70px;
}

.header, .sub-header{
    color: var(--dp-accent-red);
}

.header{
    font-size: 36px;
}

.sub-header{
    font-size: 18px;
}


.home-container-text-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dr-pepper-home-text{
    text-align: center;
    font-size: 18px;
    color: var(--dp-deep-red);

    width: 450px;
}

.dr-pepper-home-img{
    width: 350px;
    height: auto;
    object-fit: cover;

    filter: drop-shadow(33px 9px 10.2px rgba(0, 0, 0, 0.75));
}

/* ==============================
   Home Page (What Section)
   ============================== */

.Dr-pepper-what-section{
    background-color: var(--dp-maroon);

    color: var(--dp-text);

    padding-bottom: 20px;
}

.what-header-container{
    display: flex;
    justify-content: center;
    
    padding: 40px 0px;
}

.what-header{
    font-size:36px ;
}

.Dr-pepper-text-img-section{
    display: flex;

    align-items: center;
    justify-content: space-evenly;

    margin-top: 20px;
}

.Dr-pepper-what-text-container{
    width: 400px;

    margin-bottom: 20px;
}

.Dr-pepper-what-text{
    font-size: 18px;
}

.Learn-more-btn, .check-products-button{
    padding: 7px 10px;

    border-radius: 5px;
    border: none;

    color: var(--dp-deep-red);

    cursor: pointer;

    transition: background-color 0.15s, color 0.15s;
}


.Learn-more-btn:hover, .check-products-button:hover{
    background-color: var(--dp-deep-red);
    color: var(--dp-text);
}

.what-img{
    width:350px;
    height: auto;
    object-fit: cover;

    border-radius: 20px;
}


/* ==============================
   Home Page (Products Section)
   ============================== */

.check-products-section{
    margin: 100px 0px;
}


.check-header-container{
    display: flex;
    justify-content: center;

    margin-bottom: 35px;
}

.check-header{
    font-size: 36px;
    color: var(--dp-accent-red);
}



.check-products-grid{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 20px;

    padding: 0px 20px;

    
}


.check-products-img{
    width: 250px;
    height: auto;

    object-fit: cover;

    
}

.check-products-img-container{
    display: flex;
    justify-content: center;
}


.check-products-text-button-container{
    margin-left: 10px;
    margin-bottom: 15px;
}

.check-products-text-container{
    margin: 5px 0px;
}

.check-products-text{
    color: var(--dp-accent-red);
}


.check-products-column{
    width: stretch;

    padding-top: 30px;

    border-radius: 10px;
}

.check-products-column:nth-child(1){
    background-color: var(--dp-deep-red);
}

.check-products-column:nth-child(2){
    background-color: #DDD6D8;
}

.check-products-column:nth-child(3){
    background-color: #111111;
}